/*
 * COLORS
 */

$avocado: #bce784; //rgba(188, 231, 132, 100)
$teal: #5dd39e; //rgba(93, 211, 158, 100)
$blue: #348aa7; //rgba(52, 138, 167, 100)
$indigo: #525174; //rgba(82, 81, 116, 100)
$plum: #513b56; //rgba(81, 59, 86, 100)