html,
body,
.off-canvas-wrapper,
.off-canvas-content,
.off-canvas-wrapper-inner {
    height: 100%;
    margin: 0;
    padding: 0;
}

.off-canvas-wrapper {
	background-color: $offcanvas-background;
}

#map {
    height: calc(100% - 42px);
}

.gm-style div {
	// Make centering of map smoother
	transition: transform 100ms ease-in-out;
}

.off-canvas-nav {

	input {
		margin: rem-calc(15) 0;
		width: 100%;
	}

	li {
		border-top: 1px solid darken($indigo, 5%);

		&:last-child{
			border-bottom: 1px solid darken($indigo, 5%);
		}
	}

	a {
		text-transform: uppercase;
		color: $light-gray;
		transition: all 300ms ease-in-out;

		&:hover {
			color: $avocado;
		}

		&.active{
			background-color: $teal;
			color: $indigo;
		}
	}
}

.title-bar {
	.title-bar-title{
		font-size: 1.25rem;
		margin: 0;
		padding: 0;
	}

	.place-label{
		display: block;
	}
}

.place-name{
	font-size: 1.5rem;
}

.no-results{
	display: inline-block;
	width: 100%;
	text-align: center;
	color: darken($indigo, 20%);
}
