html,
body,
.off-canvas-wrapper,
.off-canvas-content,
.off-canvas-wrapper-inner {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}

.gm-style div{
	// Make centering of map smoother
	transition: transform 100ms ease-in-out;
}